.container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .about{
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            background-color: #752e2b;
            box-shadow: 0px 1px 3px 3px #aeabab;
            margin-top: 10px;
            border-radius: 10px;

        .list{
            flex-direction: column;
            width: 100%;
            margin: 10px;
            .item{
                margin: 10px;
                font-size: 20px;
                color: rgb(201, 203, 204);

            }
        }
    }
}

